* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #120C0C; /* Smoky Black */
    --secondary-color: #FFFFFF; /* White */
    --accent1-color: #720810; /* Rosewood */
    --accent2-color: #A51723; /* Madder  */
    --heading-font: "Tomorrow", sans-serif;
    --body-font: "Tomorrow", sans-serif;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
}

header, main, footer {
    width: 1080px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: center;
}

header img {
    width: 160px;
    margin-left: 20%;
    
}
.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 20px;
}

.navigation a {
	color: var(--accent1-color);
}

nav a:hover {
    color: red;
}

.history { 
    text-align: center;
    padding: 20px;
}

.history h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.history-container {
    display: flex;
}

.history-container img {
    display: flex;
    justify-content: space-around;
    width: 300px;
    margin-top: 30px;
}

.adventures {
    text-align: center;
    padding: 20px;
}

.adventures h2 {
    margin-bottom: 40px;
}

.image-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

figure {
    text-align: center;
    margin: 5px;
}

img {
    width: 180px;
    height: auto;
}

figcaption {
    margin-top: 5px;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.footer {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr 1fr;
    text-align: center
}

.about-us {
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 1fr;
    text-align: center
}

.social-icons img {
    width: 40px;
    height: 40px;
}

.hero-about, .contact-us {
    position: relative;
}

.hero-about img, .contact-us img {
    display: block;
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px grey;
 }

 h1 {
    position: absolute;
    top: 30px;
    width: 100%;
    padding: 20px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent2-color);
    color: white;
 }

article {
    position: absolute;
    top: 110px;
    width: 96%;
    padding: 0px;
    text-align: left;
    opacity: 0.9;
    background-color: var(--accent2-color);
    color: white;
 }

 .hero-about article img {
    float: right;
    width: 150px;
    padding: 5px;
 }

 .message {
    text-align: center;
    padding: 5%;
 }

.team {
    text-align: center;
}

 .profile-pictures {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 5%;          
 }

 .profile-pictures img {
    border-radius: 50%;
 }

.space {
    padding: 30px;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid var(--accent1-color);
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
}

legend {
    padding: .5rem;
    color: var(--accent1-color);
    font-size: 1.3em;
}

label, input, button, select, textarea {
    font-family: Tomorrow, sans-serif;
}

label {
    text-align: right;
    padding-right: 2rem;
}

input, select, textarea {
    padding: .5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 30px;
    height: 30px;
    vertical-align: bottom;
}

.button {
    display: flex;
    justify-content: center;
}

button {
    width: 250px;
    margin: 1rem;
    background-color: var(--accent2-color);
    color: #fff;
    border: solid var(--primary-color) 1px;
    padding: 1rem;
    font-size: 1.2rem;
}

button:hover {
    background-color:  rgb(0, 173, 0);
}

input[type="checkbox"] {
    width: 25px;
    height: 25px;
}

.contact-information {
    display: grid;
    align-items: center;
}

.name-email {
    grid-template-columns: 1fr 7fr;
}

.message-purpose {
    grid-template-columns: 3fr 2fr 1fr ;
    margin: 0.5rem 0;
}

.feedback {
    grid-template-columns: 4fr 1fr;
}

.general, .reservation, .suggestion {
    padding: 2%;
}

.suggestion {
    padding-bottom: 5%;
}

.hero-container img {
  width: 100%;
}

.hero-container h1 {
    position: absolute;
    top: 30%;
    width: 50%;
    padding: 40px;
}

.newsletter {
    padding-top: 5%;
    display: flex;
}


.call {
    text-align: center;
    padding: 20px;
    padding-top: 60px;
    background-color: var(--accent2-color);
    color: #ffffff;
}

.call h2 {
    color: var(--secondary-color);
}

.call p {
    padding-top: 40px;
    padding-bottom: 30px;
}

.call a {
    display: inline-block;
    padding: 20px 24px;
    font-size: 20px;
    font-weight: bold;
    color: var(--accent2-color);
    background-color: var(--secondary-color);
    text-decoration: none; 
    
}

.call a:hover {
    background-color:  rgb(52, 179, 229);
    color:var(--secondary-color)
}