* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #120C0C; /* Smoky Black */
    --secondary-color: #FFFFFF; /* White */
    --accent1-color: #720810; /* Rosewood */
    --accent2-color: #A51723; /* Madder  */
    --heading-font: "Tomorrow", sans-serif;
    --body-font: "Tomorrow", sans-serif;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px grey;
 }

 h1 {
    position: absolute;
    top: 30px;
    width: 100%;
    padding: 20px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent2-color);
    color: white;
 }

article {
    position: absolute;
    top: 110px;
    width: 96%;
    padding: 0px;
    text-align: left;
    opacity: 0.9;
    background-color: var(--accent2-color);
    color: white;
 }

 .hero article img {
    float: right;
    width: 150px;
    padding: 5px;

 }